.App__header {
  background: black;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 2vmin);
  color: white;
  text-decoration: none;
  
}

.App__link {
  color: #61dafb;
}

.App__link:active,
.App__link:focus,
.App__link:visited {
  color: #ffffff;
}

.App__main {
  display: flex;
}

.App__mainNav {
  flex: 1;
  background: black;
}

.App__mainSection {
  flex: 4;
  background: #ebebeb;
}

.App__mainSection {
  background: white;
}


